.content {
  width: 100%;
}

iframe.content {
  height: 70%;
}


.media {
  margin-right: 16px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  iframe.media {
    height: calc(100vw / 1);
  }
}

.award {
  color: rgb(116, 105, 14);
}

.award-text {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}
